#nav {
	display: table; /* centers modern browsers */
	margin: 0 auto; /* centers modern browsers */
	text-align: center; /* centers IE6/7 */
}

#nav ul {
	list-style: none;
	display: inline-block; /* IE6/7 haslayout trip-switch */
}

#nav ul {
	display: inline;
	/* IE6/7 haslayout trip-switch, and IE6/7 only need ul to be display inline, yet does no harm to others */
}

#nav li {
	display: inline;
}

#nav a {
	float: left;
	text-decoration: none;
	padding: 0 30px; /* variable width */
}