<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="org.art.inside.dao.BoardMapper">
 	<resultMap type="board" id="boardResultMap">
 		<result property="name" column="name"/>
 		<result property="age" column="age"/>
 		<result property="sex" column="sex"/>
 		<result property="local" column="local"/>
 		<result property="deptno" column="deptno"/>
 	</resultMap>
 </mapper>
  
  
